html {
  color-scheme: dark;
}
body {
  background-color: #212529;
  color: #e9ebee;
}
  
.bg-dark {
  background-color: #212529!important;
}

#wrap {
  background-color: #212529;
}

.text-dark {
  color: #e9ebee!important;
  transition: .2s;
}

a {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: .1s;
}

a:hover {
  text-decoration-color: unset;
}

.text-link-gray {
  color: #e9ebee;
}
.card {
  background-color: #343a40;
}
.content {
  background-color: #343a40;;
}
.text-gray-dark-8 {
  color: rgba(255,255,255,.8);
}
.text-gray-dark-7 {
  color: rgba(255,255,255,.7);
}
.text-gray-dark-6 {
  color: rgba(255,255,255,.6);
}
.text-gray-dark-5 {
  color: rgba(255,255,255,.5);
}
.text-gray-dark-4 {
  color: rgba(255,255,255,.4);
}
.text-gray-dark-3 {
  color: rgba(255,255,255,.3);
}
.text-gray-dark-2 {
  color: rgba(255,255,255,.2);
}
.btn-o-4 {
  color: rgba(255,255,255,.4);
}
.b-tooltipped {
  color: #e9ebee;
}

.form-control,
.form-control:focus {
  color: #e9ebee;
  background-color: #343a40;
  border: 1px solid #666;
}
.form-control input {
  background: transparent;
}
.form-control input::placeholder {
  color: #e9ebee;
}
.list-group-item-action {
  color: #e9ebee;
}
.read-more-theme-cursor-one .read-more-link {
  color: #e9ebee;
}

.list-group-item {
  background-color: #32383e;
  transition: .1s;
}
.bg-white {
  background-color: #343a40!important;
}
.dropdown-menu {
  background-color: #32383e;
  color: #e9ebee;
}
.dropdown-item {
  color: #e9ebee;
}
.card-header,
.card-footer {
  border-color: rgba(255,255,255,.125);
}
#video-watch,
#video-watch:before,
#video-watch:after{
  background: rgba(0,0,0,0.3);
}
.noUi-tooltip {
  background-color: #2c3136;
}

.synonyms .read-more-link {
  background-color: rgba(255,255,255,.2);
}

.watch-panel .online {
  color: rgba(0,0,0,.7);
}

.searchsuggestions {
  background-color: #212529;
  color: #e9ebee;
}

.search-form {
  background: transparent;
  box-shadow: none;
}

.popover {
  background-color: #343a40;
}
.popover-body {
  color: inherit;
}
.popover-header {
  background-color: #212529;
}
.popover.bs-popover-auto[x-placement^=bottom] .arrow::after, .popover.bs-popover-bottom .arrow::after {
  border-bottom-color: #212529;
}
.popover.bs-popover-auto[x-placement^=bottom] .popover-header::before,
.popover.bs-popover-bottom .popover-header::before  {
  border-bottom-color:#212529;
}
.brand-primary-light {
  background-color: #212529;
}

.list-group-item-action:focus,
.list-group-item-action:hover,
.list-group-item-action:active {
  background-color: #2c3136;
}

.list-group-item-action:focus,
.list-group-item-action:hover,
.list-group-item-action:active {
  color: #e9ebee;
}

.modal-content {
  background-color: #212529;
}

.bb-dashed-1 {
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.btn-filter {
  border-color: #212529;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23e9ebee' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center no-repeat #343a40;
  background-size: 8px 10px;
}

.custom-select {
  color: #e9ebee;
}

.custom-select:focus {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 5px rgba(100,100,100,.5);
}

.btn-filter:focus, .btn-filter[aria-expanded=true] {
  color: #b1b8c3;
}

.custom-checkbox {
  cursor: pointer;
  user-select: none;
}

a.text-dark:focus, a.text-dark:hover {
  color: #97a0af!important;
}

.text__underline__link {
  border-bottom: 2px solid;
  border-bottom-color: transparent;
}

.text__underline:hover .text__underline__link {
  border-bottom-color: currentColor;
}

.text-link-gray:hover {
  text-decoration: underline;
  text-decoration-color: transparent;
}
